doctype html
html(ng-app="phoneBook")
  head
    meta(charset="UTF-8")
    title
      |PhoneBook App - SPA
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    div(ui-view)
    script(type="text/javascript", src="bower_components/angular/angular.min.js")
    script(type="text/javascript", src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript", src="js/phoneBookController.js")