.container.spacing-top(ng-controller="MainCtrl")

  #addContactModal.modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Add New Contact
        .modal-body
          label Name:
          input.form-control.input-md(type="text", ng-model="name", placeholder="Input contact name here..")
          br
          label Number:
          input.form-control.input-md(type="text", ng-model="number", placeholder="Input contact number here..")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button', data-dismiss='modal', ng-click="addContact()") Save

  #updateContactModal.modal(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title Edit Contact
        .modal-body
          label Name:
          input(type="hidden", ng-model="id")
          input.form-control.input-md(type="text", ng-model="name", placeholder="Input contact name here..")
          br
          label Number:
          input.form-control.input-md(type="text", ng-model="number", placeholder="Input contact number here..")
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button', data-dismiss='modal', ng-click="updateContact()") Save changes

  .jumbotron
    .text-center
      h1(align='center') Simple Phonebook App
      h3
        | A&nbsp;
        a(href='https://nodejs.org/en/', target='_blank') NodeJS
        |&nbsp;+&nbsp;
        a(href='https://angularjs.org/', target='_blank') AngularJS
        |&nbsp;driven application created with&nbsp;
        a(href='http://getbootstrap.com/', target='_blank') Bootstrap
    hr
    .form-group.text-center
      button.btn.btn-primary.btn-md(data-toggle='modal', data-target='#addContactModal', ng-click="clearFields()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
        |&nbsp;Add New Contact

    .row.text-center
      .col-sm-12
        .alert(class="alert-{{notification.class}}" ng-bind="notification.message")
        #contacts-wrapper
          table.table-striped.table.text-left(ng-show="contacts.length", class="ng-hide")
            thead
              tr.strong-text
                td Contact Name
                td Contact Number
                td.text-center Actions
            tbody
              tr(ng-repeat="contact in contacts")
                td(ng-bind="contact.name")
                td(ng-bind="contact.number")
                td.text-center
                  button.btn.btn-primary.btn-sm(data-toggle='modal', data-target='#updateContactModal', ng-click="editContact($index)")
                    span.glyphicon.glyphicon-pencil
                    |&nbsp;Edit
                  |&nbsp;
                  button.btn.btn-danger.btn-sm(ng-click="deleteContact($index, contact.name)")
                    span.glyphicon.glyphicon-trash
                    |&nbsp;Delete
  .row
    footer.footer
      .container.text-right
        p.text-muted
          | &copy;&nbsp;
          a(href='https://github.com/shiftescape/phonebook-angular', target='_blank') Alvin James N. Bellero
